<div class="p-3">
  <app-option-bar [options]="optionsBar()" (addItem)="onOpenaddItem()" />

  <div class="relative">
    @if(loading()) {
      <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center" style="z-index: 1000;">
        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '100%' }" />
      </div>
    }
    <p-table
      [value]="items()"
    >
      <ng-template #header>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Quantità</th>
        </tr>
      </ng-template>
      <ng-template #body let-product>
        <tr (click)="onToggleBought(product)" class="cursor-pointer" [class.bg-accent]="product.bought" [class.text-gray-500]="product.bought">
          <td>{{product._id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.quantity}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog
    header="Header"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '50rem' }"
  >
    <form [formGroup]="addItemForm">
      <div class="flex flex-column gap-2">
        <input type="text" label="Nome" formControlName="elementName" />
        <p-inputNumber label="Quantità" formControlName="elementQuantity" />
      </div>
      <p-button label="Aggiungi" (click)="onAddItem()" />
    </form>
  </p-dialog>
</div>
