<div class="p-3 flex flex-column gap-3 lg:flex-row flex-wrap">
    @for(item of lists(); track item._id) {
        <p-card class="w-full flex-auto lg:w-4 xl:w-3 p-3 cursor-pointer" [style]="{ overflow: 'hidden' }" (click)="navigateTo(item)">
            <ng-template #title> {{ item.name }} </ng-template>
            <ng-template #subtitle> {{ item.createdAt | date:'dd/MM/yyyy' }} - {{ item.updatedAt | date:'dd/MM/yyyy' }} </ng-template>
            Elementi in lista: {{item.list.length}}
            <!-- <ng-template #footer>
                <div class="flex gap-4 mt-1">
                    <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
                    <p-button label="Save" class="w-full" styleClass="w-full" />
                </div>
            </ng-template> -->
            
        </p-card>
    }
</div>

@if(lists().length === 0) {
    <div class="shopping-list-empty-state text-center py-8" style="color: var(--muted-foreground);">
        <i class="pi pi-shopping-cart text-4xl mb-4 block"></i>
        <p>Nessuna lista della spesa trovata</p>
        <div class="shopping-list-empty-state-button">
            <p-button label="Aggiungi lista" (click)="openCreateShoppingListDialog()" />
        </div>
    </div>
}

<p-dialog header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Inserisci il nome della lista</span>
    <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24">Nome</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" [(ngModel)]="name" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="createShoppingList()" />
        <p-button label="Save" (click)="visible = false" />
    </div>
</p-dialog>